<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>登录-动视文化传媒后台管理系统</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/signin.css" rel="stylesheet">
  </head>

  <body>

    <div class="box boxlogin">
        <div class="login">
          <div class="page-header">
            <h3>动视文化传媒 <small>后台管理系统</small></h3>
          </div>
            <form class="form-horizontal" role="form"> 
             <div class="form-group"> 
              <label for="inputEmail3" class="col-sm-2 control-label">账号</label> 
              <div class="col-sm-10"> 
               <input type="email" class="form-control" id="inputEmail3" placeholder="请输入账号" /> 
              </div> 
             </div> 
             <div class="form-group"> 
              <label for="inputPassword3" class="col-sm-2 control-label">密码</label> 
              <div class="col-sm-10"> 
               <input type="password" class="form-control" id="inputPassword3" placeholder="请输入密码" /> 
              </div> 
             </div> 
             <div class="form-group"> 
              <div class="col-sm-offset-2 col-sm-10"> 
               <div class="checkbox"> 
                <label> <input type="checkbox" /> 记住我 </label> 
               </div> 
              </div> 
             </div> 
             <div class="form-group"> 
              <div class="col-sm-offset-4 col-sm-4"> 
               <button type="submit" class="btn btn-primary btn-lg btn-block">登录</button> 
              </div> 
             </div> 
            </form>
        </div>
    </div>
    <h2>&copy2014 Dynamic Visual Media CO.,LTD</h2>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
