<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>动视文化传媒有限公司管理后台</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>


  <script src="http://jwpsrv.com/library/XIbP3AWeEeS8NCIACtqXBA.js"></script>
  <div id='playerrpgwLEsCuIzD'></div>
  <script type='text/javascript'>
      jwplayer('playerrpgwLEsCuIzD').setup({
          file: 'http://example.com/media/my_video.mp4',
          image: '//www.longtailvideo.com/content/images/jw-player/lWMJeVvV-876.jpg',
          width: '50%',
          aspectratio: '16:9',
          mute: 'true',
          repeat: 'true'
      });
  </script>
  </body>
</html>
